.sn-jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background: linear-gradient(225deg,#ea3694 0,#5a186b 122%);
  color: white;
  border-radius: 0.3rem;
  h1{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  lead{
    font-size: 1.25rem;
    font-weight: 300;
  }
  hr{
    height: 1px;
    background: linear-gradient(225deg,#ea3694 0,white 60%);
    border: none;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
  }
}